/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Global css */
body{
    font-family: 'Poppins', sans-serif;
}

/* header section */
.my-dropdown:hover ul{
    display: block;
}

/* Slider section */
#slider img{
    height: 450px;
    opacity: 0.5;
}
#slider .carousel-item .carousel-caption h1{
    color: #000;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
#slider .carousel-item .carousel-caption p{
    color: #000;
    font-family: 'Poppins', sans-serif;
}
/* Card section start */
.card-section{
    padding: 60px 0px;
}
.card-section .card img{
    width: 70%;
    margin: 0 auto;
}

.accordion-section{

}
/* bg image section */
.bg-image{
    padding: 75px 0px;
}
.bg-image .cta-bg button{
    margin-top: 150px;
}
.bg-image{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/bg-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
/* footer-section section */
.last-section{
    padding: 75px 0px;
}
.last-section ul{
    list-style: none;
}
.last-section ul li a{
    text-decoration: none;
}
.last-section ul li{
    position: relative;
}
.last-section ul li::before{
    content: '';
    height: 5px;
    width: 5px;
    top: 10px;
    left: -10px;
    background-color: blueviolet;
    position: absolute;

}
footer p{
    padding: 10px 0px;
}

